<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>无标题文档</title>

    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery1.42.min.js">
    </script><script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>

<body>

<div class="header">
    <div class="head">
        <div class="head_top">
            <a href="#">保存到桌面</a>　<a href="#">注册</a> 　<a href="#">登陆</a></div>
        <div class="logo"><img src="images/logo.png" width="180" height="70" /></div>
        <div class="area"><a href="#"><h1>总站</h1><span><img src="images/up.png" width="20" height="20" /></span></a></div>
        <div class="search">
            <form id="form1" name="form1" method="post" action="">


                <input type="text" name="textfield" id="textfield" class="ser_txt" />
                <input type="submit" name="button" id="button" value="提交"  class="ser_btn"/>
            </form>
        </div>
        <div class="head_btn">
            <h1><a href="#">修改/删除信息</a></h1>
            <h2><a href="#">免费发布信息</a></h2>

        </div>

    </div>
    <div class="nav">
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">车辆买卖</a></li>
            <li><a href="#">房屋租售</a></li>
            <li><a href="#">招聘信息</a></li>
            <li><a href="#">物业缴费</a></li>
            <li id="mob"><a href="#">手机浏览</a></li>
        </ul>

    </div>
</div>
<div class="index_main">
    <div class="index_div">
        <div class="focusBox" >
            <ul class="pic">
                <li><a href="#" target="_blank"><img src="images/banner.jpg"/></a></li>
                <li><a href="#" target="_blank"><img src="images/2.jpg"/></a></li>
                <li><a href="#" target="_blank"><img src="images/5.jpg"/></a></li>
            </ul>

            <ul class="hd">
                <li></li>
                <li></li>
                <li></li>

            </ul>
        </div>
        <script type="text/javascript">
            /*鼠标移过，左右按钮显示*/

            /*SuperSlide图片切换*/
            jQuery(".focusBox").slide({ mainCell:".pic",effect:"left", autoPlay:true, delayTime:600, trigger:"click"});
        </script>
        <div class="top_news">
            <ul>
                <li><a href="#">人事培训、绩效专员</a></li>
                <li>办公室文员（弹性工作+节日福利</li>
                <li>深圳月薪4500销售</li>
                <li>兰博基尼 盖拉多 2012款 LP 5604</li>
                <li>本田,雅马哈,铃木,川崎进口车,</li>
                <li>价格便宜,款式 多,质量有保</li>
                <li>宝马 1系 2012款 116i 1.6T 手自</li>
                <li>碧桂园太东公园上城 深圳东位置中</li>
                <li>龙华绿本村委统建房,抢购倒计时！</li>
                <li>宝马 1系 2012款 116i 1.6T 手自</li>
            </ul>
        </div>
        <div class="slideTxtBox">
            <div class="hd">



                <ul><li>网站新闻</li><li>网站公告</li></ul>
            </div>
            <div class="bd">
                <ul >
                    <div id="content">
                        <li><span class="date">11-11</span><a href="#" >中国打破了世界软件巨头规</a></li>
                        <li><span class="date">11-11</span><a href="#" >口语：会说中文就能说英语</a></li>
                        <li><span class="date">11-11</span><a href="#">农场摘菜不如在线学外语好</a></li>
                        <li><span class="date">11-11</span><a href="#" >数理化老师竟也看学习资料</a></li>
                        <li><span class="date">11-11</span><a href="#" >学英语送ipad2,45天突破听</a></li>
                        <li><span class="date">11-11</span><a href="#" >那些无法理解的荒唐事</a></li>
                        <li><span class="date">11-11</span><a href="#" >那些无法理解的荒唐事</a></li>
                    </div>

                </ul>

                <ul>  <div id="content">
                    <li><span class="date">11-11</span><a href="#" >中国打破了世界软件巨头规</a></li>
                    <li><span class="date">11-11</span><a href="#" >口语：会说中文就能说英语</a></li>
                    <li><span class="date">11-11</span><a href="#">农场摘菜不如在线学外语好</a></li>
                    <li><span class="date">11-11</span><a href="#" >数理化老师竟也看学习资料</a></li>
                    <li><span class="date">11-11</span><a href="#" >学英语送ipad2,45天突破听</a></li>
                    <li><span class="date">11-11</span><a href="#" >那些无法理解的荒唐事</a></li>
                    <li><span class="date">11-11</span><a href="#" >那些无法理解的荒唐事</a></li>
                </div>

                </ul>

            </div>
        </div>
        <script type="text/javascript">jQuery(".slideTxtBox").slide();</script>
        <div class="index_btn">
            <h1><a href="#">免费发布信息</a></h1>
            <h2><a href="#">免费网上开店</a></h2>
        </div>

    </div>
    <div class="index_list">
        <div class="index_list_title"><img src="images/a1.png" width="48" height="48" /><h1>房屋租售</h1><h2><a href="#">更多>></a></h2><h3><a href="#">发信息</a></h3></div>
        <div class="index_list_type">
            <ul>
                <li><a href="#">房屋出租</a></li>
                <li><a href="#">日租/短租</a></li>
                <li><a href="#">二手房出售</a></li>
                <li><a href="#">店铺转让/出租</a></li>
                <li><a href="#">商铺出售</a></li>
                <li><a href="#">写字楼出租</a></li>
                <li><a href="#">写字楼出售</a></li>
                <li><a href="#">厂房/仓库/土地</a></li>
                <li><a href="#">求租/求购</a></li>
            </ul>
        </div>
        <div class="index_list_con">
            <ul>
                <li > <span class="itime">[05-03]</span>
                    <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span> </li>

                <li > <span class="itime">[05-03]</span>
                    <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span> </li>
                <li > <span class="itime">[05-03]</span>
                    <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span> </li>

                <li > <span class="itime">[05-03]</span>
                    <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span> </li>
                <li > <span class="itime">[05-03]</span>
                    <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span> </li>

                <li > <span class="itime">[05-03]</span>
                    <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span> </li>
                <li > <span class="itime">[05-03]</span>
                    <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span> </li>

                <li > <span class="itime">[05-03]</span>
                    <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span> </li>

            </ul>

        </div>
    </div>
    <div class="index_list iright">
        <div class="index_list_title"><img src="images/a2.png" width="48" height="48" />
            <h1>车辆买卖</h1>
            <h2><a href="#">更多&gt;&gt;</a></h2>
            <h3><a href="#">发信息</a></h3>
        </div>
        <div class="index_list_type">
            <ul>
                <li><a href="#">二手轿车</a></li>
                <li><a href="#">货车/工程车</a></li>
                <li><a href="#">面包车/客车</a></li>
                <li><a href="#">拖拉机/收割机</a></li>
                <li><a href="#">拼车/顺风车</a></li>
                <li><a href="#">新车优惠/4S店</a></li>
                <li><a href="#">汽车用品/配件</a></li>
                <li><a href="#">汽修保养地</a></li>
                <li><a href="#">车辆收购服务</a></li>

            </ul>
        </div>
        <div class="index_list_con">
            <ul>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
            </ul>
        </div>
    </div>
    <div class="index_list ">
        <div class="index_list_title"><img src="images/a3.png" width="48" height="48" />
            <h1>招聘信息</h1>
            <h2><a href="#">更多&gt;&gt;</a></h2>
            <h3><a href="#">发信息</a></h3>
        </div>
        <div class="index_list_type">
            <ul>
                <li><a href="#">不限营业员/促销/零售</a></li>
                <li><a href="#">服务员/收银员</a></li>
                <li><a href="#">销售/市场/业务员</a></li>
                <li><a href="#">文员/客服/助理</a></li>
                <li><a href="#">保姆/家政</a></li>
                <li><a href="#">司机/驾驶员</a></li>
                <li><a href="#">保安/保洁</a></li>
                <li><a href="#">厨师/切配</a></li>
                <li><a href="#">送货/快递/仓管</a></li>

            </ul>
        </div>
        <div class="index_list_con">
            <ul>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
            </ul>
        </div>
    </div>
    <div class="index_list iright">
        <div class="index_list_title"><img src="images/a4.png" width="48" height="48" />
            <h1>物业缴费</h1>
            <h2><a href="#">更多&gt;&gt;</a></h2>
            <h3><a href="#">发信息</a></h3>
        </div>
        <div class="index_list_type">
            <ul>
                <li><a href="#">房屋出租</a></li>
                <li><a href="#">日租/短租</a></li>
                <li><a href="#">二手房出售</a></li>
                <li><a href="#">店铺转让/出租</a></li>
                <li><a href="#">商铺出售</a></li>
                <li><a href="#">写字楼出租</a></li>
                <li><a href="#">写字楼出售</a></li>
                <li><a href="#">厂房/仓库/土地</a></li>
                <li><a href="#">求租/求购</a></li>
            </ul>
        </div>
        <div class="index_list_con">
            <ul>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
                <li > <span class="itime">[05-03]</span> <span class="info"><a href="#">碧桂园太东公园上城 深圳东位置中心区带精装修置业改善</a></span></li>
            </ul>
        </div>
    </div>
    <div class="bbdh">
        <div class="cdiv">
            <div class="index_title"><h1>便民电话</h1><h2><span>以下便民电话招商：300/年，变色或加粗加100元。(可新增行业类别，每类别限一家，先占先得！)</span>　加盟电话：010-12345678</h2></div>
            <ul>
                <li>报警<br />110</li>
                <li>报警<br />110</li>
                <li>报警<br />110</li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bbdh">
        <div class="cdiv">
            <div class="index_title">
                <h1>友情链接</h1>
                <h2><a href="#">我要申请</a></h2>
            </div>
            <div class="index_link">
                <a href="http://9416.cn">就是一流</a>
                <a href="http://9416.cn">就是一流</a>
                <a href="http://9416.cn">就是一流</a>
                <a href="http://9416.cn">就是一流</a>
                <a href="http://9416.cn">就是一流</a>
                <a href="http://9416.cn">就是一流</a>
                <a href="http://9416.cn">就是一流</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="foot">
    <p>网站简介 广告服务 联系我们 网站帮助 友情链接 网站公告 网站地图   </p>
    <p> Copyright ◎2017 ? 城盛惠民, All Rights Reserved. </p>
    <p><img src="images/foot.jpg" width="473" height="62" /></p>
</div>
</body>
</html>
