*:focus{outline:none}
.red{color:#f00}
.f12{font-size:12px}
/*电话冒用*/
.phone-use{padding:10px; display:block; min-height:240px;}
.phone-use h1{font-size:16px; font-weight:400; padding:5px 0; line-height:22px}
.phone-use .phone-hao{padding:10px 0;  display: -webkit-flex; display: flex;-webkit-flex-flow: row; -webkit-flex-wrap: nowrap; width:100%; position:relative}
.phone-use .input-mobile{width:100%; height:40px; padding:10px 5px; line-height:18px; background:#fff; border:1px solid #d2d3d8; overflow:hidden;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.phone-use .phone-code{width:100px; background:#f6f7f8; text-align:center; position:absolute; top:10px; left:0}
.phone-use .button-mobile{
	width:120px; 
	padding:10px 0; 
	height:40px;
	line-height:20px; 
	color:#fffefe;
	text-align:center;
	overflow:hidden;
	border:none;
	-webkit-border-radius:0;
	}
.phone-use .button-mobile.but-yz{ width:90px; margin-left:5px}
.phone-use .input-mobile#pptmobileregmobilecode{padding:0 90px 0 110px}
.phone-del{color:#bbb; padding:10px; padding-top:0}
.phone-del a{color:#60a1dd}
.phone-prompt{margin-top:10px; border-top:1px solid #e3e3e3; color:#bebebe; padding:10px 0; line-height:22px}
/*查询结果*/
.phone-use .phone-query{font-size:12px;color:#bebebe;line-height:22px}
.phone-use .query-tit{border-bottom:1px solid #e3e3e3; padding:10px 0}
.phone-use .query-no-info{ margin-top:50px; text-align:center; font-size:12px; color:#585858; line-height:22px}
.phone-use .query-no-info .regret{background:url(../images/regret-tips.png) no-repeat; background-size:12px auto; width:12px; height:15px; display:inline-block; vertical-align:top; margin:3px 5px 0}
.phone-use .phone-query li{border-bottom:1px solid #e3e3e3; min-height:65px; overflow:hidden; position:relative}
.phone-use .phone-query li a{display:block; padding:10px 0; height:100% ;-webkit-border-radius:0}
.phone-use .phone-query strong{font-size:14px;color:#000;font-weight:normal; width:100%; padding-right:60px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; display:inline-block}
.phone-use .phone-query .del-but{ background:#fff; width:50px; height:32px; line-height:32px; text-align:center; padding:0; margin-top:5px; border:1px solid #d2d3d8; color:#666; position:absolute; right:0; top:11px; z-index:2}
.phone-use .phone-query li.disabled h2{color:#a6a7a7}
.del-but{}

/* pager */
.pager {
	font-size: 14px;
	padding: 25px 0;
	text-align: center;
}
.pager a {
	-webkit-appearance: none;
	border: 1px solid #C8CACC;
	border-radius: 0;
	box-shadow: 0 2px 0 #EFF0F1;
	color: #3F4358;
	display: inline-block;
	height: 33px;
	line-height: 33px;
	margin-right: 10px;
	vertical-align: top;
}
.pageprev, .pagenext {
	position: relative;
	text-align: left;
	width: 70px;
}
.pageprev {
	text-indent: 20px;
}
.pageprev::before {
	content: '';
	border: 5px solid transparent;
	border-right-color: #3F4358;
	height: 0;
	left: 5px;
	position: absolute;
	top: 11px;
	width: 0;
}
.pager a.pagenext {
	margin-right: 0;
	text-indent: 10px;
}
.pagenext::after {
	content: '';
	border: 5px solid transparent;
	border-left-color: #3F4358;
	height: 0;
	right: 4px;
	position: absolute;
	top: 11px;
	width: 0;
}
.pageno {
	text-align: center;
	width: 33px;
}
.pager a.pagecur {
	border-color: #FF7201;
	color: #FF7201;
}
.pager a.pagedisable {
	-webkit-user-select:none;
	-webkit-tap-highlight-color:rgba(255, 255, 255, 0);
	border-color: #C6CBD2;
	color: #C6CBD2;
}
.pagedisable::before {
	border-right-color: #C6CBD2;
}
.pagedisable::after {
	border-left-color: #C6CBD2;
}

.blue .button-mobile{background:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#3592E2),color-stop(1,#3592E2));}
.green .button-mobile{background:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#42B712),color-stop(1,#42B712));}
.orange .button-mobile{background:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#FF7201),color-stop(1,#FF7201));}
.red .button-mobile{background:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#C40000),color-stop(1,#C40000));}