.infolst_w {
}
.infolst li {
	background: #FFF;
	border-top:1px solid #fff;
	border-bottom:1px solid #E0E1E2;
	overflow:hidden;
	position:relative;
}
.list-info li strong {
	color: #3F4358;
	font-size: 16px;
	font-weight: bold;
}
.infolst li:first-child {
	border-top:none;
}
.infolst li:last-child {
	border-bottom:none;
}
.infolst li.hover {
	background-color:#e3e4e4;
}
.infolst li a {
	display:block;
	padding:10px;
	padding-bottom: 3px;
	height:100%;
	-webkit-border-radius:0;
}
.infolst dl {
	display:block;
}
.infolst .tit {
	position:relative;
	padding-bottom:5px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	height:18px;
	line-height:18px;
}
.infolst .tit strong {
	display:block;
	overflow:hidden;
	font-size:16px;
	color:#18191a;
	font-weight:bold;
}
.infolst .attr {
	font-size:12px;
	color:#858586;
	line-height:18px;
}
.infolst .price {
	color:#ff7201;
}
.infolst .attr_v {
	color:#858586;
}
.infolst .attr span {
	display:inline-block;
	height:18px;
	max-width:180px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.infolst .attr span:last-child {
	float:right;
}
.infolst .attr .tag_w {
	max-width:240px;
	margin-bottom:3px;
}
.infolst .attr .tag {
	display:inline-block;
	border:1px solid;
	text-align:center;
	padding:0 3px;
	line-height:16px;
	margin-right:3px;
}
.infolst .attr .tag.borc {
	border-color:#efbd76;
}
.infolst .attr .tag.borc2 {
	border-color:#89c789;
}
.infolst .attr .tag.borc3 {
	border-color:#8fa9df;
}
.infolst .attr .tag.borc4 {
	border-color:#ef998f;
}
.view_more {
	height:45px;
	line-height:45px;
	text-align:center;
}
.view_more.hover {
	background-color:#e3e4e4;
}
.bg_layer {
	width:100%;
	position:fixed;
	left:0;
	top:0;
	background-color:transparent;
}
.not_more_info {
	text-align:center;
	height:45px;
	line-height:45px;
	color:#5c677d;
}
.ico_loading {
	display:none;
	width:20px;
	height:20px;
	background:url(../images/ico_loading.png) no-repeat;
	vertical-align:middle;
	margin-right:10px;
}
.lst_loading .ico_loading {
	display:inline-block;
}
.lst_loading .ico_loading {
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;
	-webkit-animation-name:ico_loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
@-webkit-keyframes ico_loading {
	from {
	-webkit-transform:rotate(0deg) translateZ(0);
}
to {
	-webkit-transform:rotate(360deg) translateZ(0);
}
}
.infolst li .ico_v {
	display:inline-block;
	width:11px;
	height:9px;
	margin:0 5px;
	background:url(../images/sp_bu.png) no-repeat;
	background-size:11px auto;
	vertical-align:-1px;
}
.infolst li .ico_v.qiye {
	background-position:0 -96px;
}
.infolst li .ico_v.geren {
	background-position:0 -85px;
}
.infolst li .ico {
	display:inline-block;
	overflow:hidden;
	margin-left:5px;
	background:url(../images/sp_bu.png) no-repeat;
	text-indent:-100em;
	vertical-align:-3px;
}
.infolst li .ico.tu {
	width:15px;
	height:15px;
	background-position:0 -213px;
}
.infolst li .ico.wlt {
	width:14px;
	height:15px;
	background-position:0 -35px;
}
.infolst li .ico.yan {
	width:15px;
	height:15px;
	background-position:0 -70px;
}
.infolst li .ico.ding {
	position:absolute;
	right:0;
	top:3px;
	width:14px;
	height:14px;
	background-position:0 -105px;
}
.infolst li .ico.ding_d {
	position:absolute;
	right:0;
	top:3px;
	width:14px;
	height:14px;
	background-position:0 -140px;
}
.infolst li .ico.zhijie {
	background:yellow;
	font-size:14px;
	color:#000;
	text-indent:0;
	vertical-align:0;
}
.infolst li .ico.biz {
	position:absolute;
	right:0;
	top:2px;
	background-image:none;
	font-size:12px;
	color:#F60;
	text-indent:0;
	vertical-align:0;
}
.infolst li .ico_xb {
	display:inline-block;
	overflow:hidden;
	margin-left:5px;
	background:url(../images/sp_bu_xb.png) no-repeat;
	background-size:17px auto;
	text-indent:-100em;
	vertical-align:-3px;
}
.infolst li .ico_xb.qiandai {
	width:17px;
	height:16px;
	position:absolute;
	right:0;
	top:0;
}
.infolst li .ico_xb.qiandai_1 {
	background-position:0 0;
}
.infolst li .ico_xb.qiandai_2 {
	background-position:0 -16px;
}
.infolst li .ico_xb.qiandai_3 {
	background-position:0 -33px;
}
.infolst li .ico_xb.qiandai_4 {
	background-position:0 -49px;
}
.infolst li .ico_xb.qiandai_5 {
	background-position:0 -66px;
}
.infolst li .ico_xb.qiandai_6 {
	background-position:0 -83px;
}
.infolst li .ico_xb.qiandai_7 {
	background-position:0 -99px;
}
.infolst li .ico_xb.qiandai_8 {
	background-position:0 -116px;
}
.infolst li .ico_xb.qiandai_9 {
	background-position:0 -132px;
}
.infolst li .ico_xb.danbao {
	background-position:0 -125px;
	background-size:14px auto;
	width:14px;
	height:16px;
	position:relative;
	top:2px;
	left:-4px;
}



/* 列表翻页 */
.selVal {
	white-space:nowrap;
	text-overflow:ellipsis;
	font-weight:normal;
}
.sel_default {
	color:#6E6E6E;
}
.sle_show {
	border:1px #DEDEDE solid;
	border-right:none;
	color: #999;
	padding:0px 3px 0px 8px;
	float:left;
}
.sle_ri {
	border:1px #DEDEDE solid;
	width:20px;
	height:33px;
	background-repeat:no-repeat;
	background-position:-76px -25px;
	border-left:none;
	float:left;
}
.sel_xia {
	display:inline-block;
	width:8px;
	height:10px;
	background:url(../images/sp_ico.png) no-repeat 2px -45px;
	background-size:11px auto;
	-webkit-transform:rotate(90deg);
}
.select_item {
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	height:100%;
	opacity:0;
	height:30px;
	font-size:10px;
}
.tit {
	font-size:16px;
	height: 18px;
	overflow: hidden;
	padding-right: 10px;
	position: relative;
}
.attr {
	color: #9FA2A9;
	font-size: 11px;
	height: 19px;
	margin-top: 3px;
	margin-bottom: 3px;
	overflow: hidden;
}
/* 4大类列表页优化 */
.list-info .thumbnail {
	height: 55px;
	margin-right: 10px;
	margin-top: 2px;
	width: 70px;
}
.list-info dl {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.hpic .thumbnail {
	display: none;
}
.hpic dl {
	width: 298px;
}
.list-info li {
	background: #FFF;
	border-bottom:1px solid #E3E3E3;
	font-size:12px;
	color:#858586;
	line-height:20px;
	overflow:hidden;
}
.list-info li:first-child {
	border-top:none;
}
.list-info li:last-child {
	border-bottom:none;
}
.list-info li.hover {
	background-color:#e3e4e4;
}
.list-info li a {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height:100%;
	border-radius:0;
	padding: 10px;
}
.list-info li p {
	padding-top:3px;
	overflow:hidden;
}
.list-info .tit strong {
	color:#3F4358;
	font-size: 15px;
	font-weight: bold;
}
.list-info .tu {
	color:#0C67E4;
	font-size: 15px;
}
.list-info .price,.list-info .price strong {
	color:#ff7201;
	font-size:15px;
}
.list-info .price {
	float: left;
	font-size: 15px;
	font-weight:bold;
	margin-right: 10px;
}
.list-info .price strong {
	font-weight:bold;
}
.list-info .time {
	font-size:12px;
	float: right;
}
.list-info li .ico {
	background:url(../images/list-ico-new.png) no-repeat;
	background-size:15px auto;
	width:15px;
	height:15px;
	overflow:hidden;
	position: absolute;
	right: 0;
	text-indent:-100em;
	top: 2px;
}
.list-info li .ico.jing {
	background-position:0 0;
}
.list-info li .ico.ding {
	background-position:0 -17px;
}
.list-info li .ico.ding2 {
	background-position:0 -35px;
}
.list-info li .ico.xb {
	background-size:14px auto;
	height:19px;
	background-position:0 -64px;
}
.list-info li .yan {
	color:#63bd28;
	font-style:normal;
	padding-left:8px;
}
.list-info li .kuaizhao {
	background: url(../images/kuaizhaoicon.png) no-repeat;
	background-size: 24px auto;
	display: inline-block;
	height: 19px;
	margin-left: 5px;
	width: 24px;
	vertical-align: -8px;
}
.ml5 {
	margin-left:5px;
}
.list-info li p {
	color: #7A7E88;
	width:100%;
	padding-right:120px;
	box-sizing:border-box;
	position:relative;
	white-space:nowrap;
	text-overflow:clip;
}
.list-info li p .price {
	position:absolute;
	right:0;
	bottom:1px;
}
.list-info li .ico_xb {
	display:inline-block;
	overflow:hidden;
	margin-left:5px;
	background:url(../images/sp_bu_xb.png) no-repeat;
	background-size:17px auto;
	text-indent:-100em;
	vertical-align:-3px;
}
.list-info li .ico_xb.qiandai {
	width:17px;
	height:16px;
	position:absolute;
	right:0;
	top:0;
}
.list-info li .ico_xb.qiandai_1 {
	background-position:0 0;
}
.list-info li .ico_xb.qiandai_2 {
	background-position:0 -16px;
}
.list-info li .ico_xb.qiandai_3 {
	background-position:0 -33px;
}
.list-info li .ico_xb.qiandai_4 {
	background-position:0 -49px;
}
.list-info li .ico_xb.qiandai_5 {
	background-position:0 -66px;
}
.list-info li .ico_xb.qiandai_6 {
	background-position:0 -83px;
}
.list-info li .ico_xb.qiandai_7 {
	background-position:0 -99px;
}
.list-info li .ico_xb.qiandai_8 {
	background-position:0 -116px;
}
.list-info li .ico_xb.qiandai_9 {
	background-position:0 -132px;
}
.list-info li .ico_xb.danbao {
	background-position:0 -125px;
	background-size:14px auto;
	width:14px;
	height:16px;
	position:relative;
	top:2px;
	left:-4px;
}

/*banner*/
.index_down { background: none; height: 0; }
#pics{margin:0 auto;position:relative;overflow:hidden}
#pics #datu{display:-webkit-box;list-style:none;-webkit-transform:translate3d(0, 0, 0)}
#pics #datu li{margin:0;text-align:center;width:100%}
#pics .panel_num{text-align:center;position:absolute;width:100%;left:0;bottom:3px}
#pics .panel_num span{background:url(../images/banpic.png) no-repeat;background-size:10px auto;display:inline-block;width:10px;height:10px;margin:0 1px}
#pics .panel_num .curr {background-position:0 -10px;}
#pics .index_down.headlines { background: none; height: 0; }

/*relation*/
.relation .title {
	background: #FFF;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	padding: 14px 0 14px 10px;
	position:relative;
}
.relation .title:after {
	display:block;
	position:absolute;
	right:12px;
	top:16px;
	content:"";
	width:6px;
	height:6px;
	border-top:2px solid #C0C0C1;
	border-right:2px solid #C0C0C1;
	-webkit-transform:rotate(135deg);
}
.relation .show.title:after{
    top:20px;
	-webkit-transform:rotate(-45deg);
}
.relation{border-bottom:1px solid #E0E1E2;}
.relation .list {
	padding: 5px 0;
	display:none;
	border-top:1px solid #E0E1E2;
}
.relation .list li {
	display: inline-block;
	font-size: 15px;
	padding: 0 5px;
	vertical-align: top;
	width: 140px;
}
.relation .list a {
	color: #0C67E4;
	display: block;
	height: 100%;
	padding: 5px;
	width: 100%;
}
.relation ~ .help{border-top:none;}

.pics{
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.datu{
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;/*ie10支持ie11不支持*/
	display: box;
	transform: translateX(0);
	-ms-transform: translateX(0);
	width: 100%;
  	flex: auto;
}
.datu li{
	text-align: center;
    width: 100%;
}

.panel_num{
	text-align: center;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 3px
}
.panel_num span{
	background: #989898;
	border-radius: 7px;
	display: inline-block;
	width: 7px;
	height: 7px;
	margin: 0 3px
}
.panel_num span.cur{
	background: #FF881A;
}
/*房产季标志*/
.list-info .fcj{
display:inline-block;
padding:0 2px;
background:#f56464;
color:#fff;
margin-right:5px;
}
/*内链seo*/
.list-info li .diyu_sale,.list-info li .diyu_pet,.list-info li .diyu_car ,.infolst li .cate_pinche,.list-info li .cate_pet,.list-info li .company_job ,.list-info li .diyu_job{
position:absolute;
width:auto;
height:auto;
padding:0;
margin:0;
left:10px;
bottom:8px;
}
.list-info li .origin,.infolst li .origin,.list-info li .origin_xq{visibility:hidden;position:relative;}
.infolst li .cate_pinche{bottom:30px;height: 18px;max-width: 180px;font-size: 12px;color: #858586;line-height: 18px;}
.list-info li .cate_pet,.list-info li .diyu_job{bottom:28px;}
/*房产seo内链*/
.list-info li {
position:relative;
}
.list-info li  .house_xq{
position:absolute;
top:31px;
height:17px;
width:auto !important;
overflow:hidden;
display:none;
padding:0;
color:#9FA2A9;
font-size:11px;
}
.list-info .tag_w .tag.borc5 {
	border-color:#f94444;
}
.list-info li  .house_xq2{
position:absolute;
top:31px;
width:auto !important;
padding:0;
height:18px;
line-height:18px;
color:#9FA2A9;
display:none;
}
.list-info li  .house_xq2 em{
display:inline-block;
height:16px;
text-align: center;
line-height: 16px;
border:1px solid #ef998f;
padding:0 3px;
font-size:11px;
}
/*解决banner导致屏幕溢出*/
#banner{overflow:hidden;}
/* bbanner */
.bban {
	background-color: rgba(59, 59, 65, .95);
	bottom: 0;
	height: 60px;
	position: fixed;
	width: 100%;
}
.bban .aban {
	display: block;
	height: 100%;
	width: 100%;
}
.bban .iban {
	float: left;
	height: 30px;
	margin: 15px 12px;
	width: 30px;
}
.bban .text {
	color: #FFF;
	float: left;
	margin-top: 15px;
}
.bban .btnd {
	background-color: #E2E2E2;
	border-radius: 3px;
	color: #282828;
	float: right;
	margin: 14px 15px;
	padding: 8px;
}
.bban .p1 {
	font-size: 14px;
	opacity: .8;
}
.bban .p2 {
	font-size: 11px;
	margin-top: 2px;
	opacity: .6;
}
.bban .x {
	background: url(../images/x.0424.png) no-repeat left top;
	background-size: auto 16px;
	height: 25px;
	left: 0;
	position: absolute;
	top: 0;
	width: 25px;
}
/* end bbanner */




.pr5 span{ padding-right:3px;}

.help{ border-top:1px #d8d9da solid;}

/* filter new */
.filter {
	border-bottom: 1px solid #D1D2D7;
	clear:both;
	position:relative;
	overflow:hidden;
	background:#FFFFFF;
	height:auto;
	overflow:hidden;
}
.filter_item {
	overflow:hidden;
	border-bottom:1px solid #e3e3e3;
	line-height:28px;
	padding:8px 0 8px 12px;
	position: relative;
}
.filter_item:nth-of-type(1) {
	border-bottom-style: solid;
}
.filter_item::before {
	content: '';
	height: 0;
	left: 0;
	position: absolute;
	width: 0;
}
.filter_item dt {
	float:left;
	padding-top:2px;
	text-align:left;
	font-size:14px;
}
.filter_item[type="footmark"] a {
	display: block;
	overflow: hidden;
}
.filter_item dd {
	padding-left:10px;
	overflow:hidden;
	position:relative;
	height:28px;
}
.filter_item dd a {
	color: #7A7E88;
	display:inline-block;
	height:28px;
	line-height:28px;
	padding:0 5px;
	border-radius:0;
	vertical-align: middle;
}
.filter_item dd a.selected {
	background-color:#FF6C00;
	color:#fff;
	height: 18px;
	line-height: 18px;
}
.filter_item dd .ico_more,.filter_item dd .ico_more2 {
	position:absolute;
	right:1px;
	top:-6px;
	width:34px;
	height:40px;
}
.filter_item dd .ico_more:after, .filter_item dd .ico_more2:after{
	display:block;
	position:absolute;
	right:12px;
	top:12px;
	content:"";
	width:7px;
	height:7px;
	border-top:2px solid #C0C0C1;
	border-right:2px solid #C0C0C1;
	-webkit-transform:rotate(135deg);
}
.filter_item dd .ico_more.up,.filter_item dd .ico_more2.up {
	-webkit-transform:rotate(-180deg);
}
.filter_item dd .ico_more2{
top:24px;
}
.filter_item dd span {
	color:#ff6000;
	font-weight:bold;
	padding:0 3px;
}
.filter_more {
	background: #F9F9F9;
	color: #BFBFBF;
	width:100%;
	height:37px;
	line-height:37px;
	text-align:center;
}
.filter_more .arrow {
	display:inline-block;
	width:10px;
	height:13px;
	margin-left:5px;
	vertical-align:-2px;
	background:url(../images/sp_ico.png) no-repeat 2px -85px;
	background-size:12px auto;
}
.filter_more.less .arrow {
	-webkit-transform:rotate(-180deg);
}
.filter_more a {
	color: #7A7E88;
	display:block;
	font-size: 13px;
	border-radius:0;
}
.filter_item .dd_more{
padding-right:30px;
}
.filter_item .dd_more2{
padding-right:30px;
height:56px;
}