.ucenter {
	width:100%;
	overflow:hidden;
	min-height:260px;
}
.u_name {
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:16px;
	color:#858586;
	padding-top:10px;
}
.u_menu_w {
	padding:10px;
}
.u_menu {
	border:1px solid #c0c1c2;
	background-color:#fff;
}
.u_menu li {
	height:42px;
	line-height:42px;
	border-bottom:1px solid #c0c1c2;
	font-size:16px;
}
.u_menu li:last-child {
	border-bottom:0;
}
.u_menu li a {
	display:block;
	position:relative;
	height:42px;
	padding:0 10px;
	-webkit-border-radius:0;
}
.u_menu li .tip_txt {
	font-size:12px;
	color:#7c7c7c;
	margin-left:5px;
}
.u_menu li .arrow {
	display:block;
	position:absolute;
	right:10px;
	top:18px;
	width:7px;
	height:7px;
	border-top:1px solid #bdbdbd;
	border-right:1px solid #bdbdbd;
	-webkit-transform:rotate(45deg);
}
.mart {
	margin-top:10px;
}
.u_infolst li {
	border-top:1px solid #fff;
	border-bottom:1px solid #e0e1e2;
	background-color:#FFFFFF;
}
.u_infolst li:last-child {
	border-bottom:0;
}
.u_infolst li a {
	display:block;
	padding:10px;
	-webkit-border-radius:0;
}
.u_infolst li h2 {
	font-size:16px;
	font-weight:normal;
	margin-bottom:5px;
	overflow:hidden;
	height:18px;
	line-height:18px;
	display:block;
}
.u_infolst li .attr {
	line-height:18px;
	font-size:12px;
	color:#858586;
}
.u_infolst li .attr span:last-child {
	float:right;
}
.u_infolst li .attr span.del {
	color:#f97d03;
}
.u_infolst li .attr span.del .ico_del {
	display:inline-block;
	width:10px;
	height:12px;
	margin-right:3px;
	background:url(../images/sp_ico.png) no-repeat 0 -57px;
	background-size:10px auto;
}
.u_infolst li.disabled h2 {
	color:#a6a7a7;
}
.u_infolst li.disabled .attr {
	color:#a6a7a7;
}
.u_infolst li.no_info {
	text-align:center;
	padding-top:90px;
	border-bottom:0!important;
}
.u_infolst li.no_info .fblue {
	color:blue;
	padding-top:8px;
}
.u_paging {
	display:-webkit-box;
	display:-webkit-flex;
	display:flex;
	padding:15px 10px;
	text-align:center;
	line-height:30px;
	border-top:1px solid #E0E1E2;
}
.u_paging a {
	display:inline-block;
	width:70px;
	height:30px;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#f9fbfc),to(#edeff1));
	border:1px solid #babbbc;
	border-radius:3px;
}
.u_paging a .ico {
	display:inline-block;
	width:8px;
	height:10px;
	background:url(../images/sp_ico.png) no-repeat 0 -45px;
	background-size:11px auto;
}
.u_paging a.prev .ico {
	-webkit-transform:rotate(180deg);
	margin-right:5px;
}
.u_paging a.next .ico {
	margin-left:5px;
}
.u_paging .curr_page {
	margin:0 5px;
	color:#585858;
}
.u_paging a.disabled {
	color:#ccc;
}
.u_paging .btn_clear,.sync {
	-webkit-box-flex:1;
	-box-flex:1;
	flex:1;
	display:block;
	width:70px;
	height:30px;
	margin-left:8px;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#68cbe0),to(#58b7cb));
	border:1px solid #54b0c3;
	border-radius:3px;
	color:#fff;
	box-shadow:0 0 1px 1px #9bddea inset;
}
.u_paging .btn_clear.w_auto,.sync {
	width:95%;
	margin-left:0;
}
#userHistory li h2 {
	margin-bottom:0;
}
#userHistory li h2 .ico_dot {
	display:inline-block;
	width:5px;
	height:5px;
	background-color:#faba7c;
	border:1px solid #f99a3d;
	border-radius:5px;
	margin-right:5px;
}
#userHistory li:last-child {
	border-bottom:1px solid #e0e1e2;
}
.btn_clearhistory {
	margin:10px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#68cbe0),to(#58b7cb));
	border:1px solid #54b0c3;
	border-radius:3px;
	color:#fff;
	box-shadow:0 0 1px 1px #9bddea inset;
}
.intinvnum {
	height:20px;
	line-height:20px;
	margin-top:11px;
	padding:0 4px;
	width:30px;
	color:white;
	text-align:center;
	-webkit-border-radius:10px;
	background:#FF750A;
	-webkit-box-shadow:0 -1px 1px #E5650F;
	float:right;
	margin-right:15px;
	display:none;
}
.sync {
	margin-left:10px;
}
.u_infolst li {
	border-top: none;
}
.infolist_tab {
	clear: both;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 41px;
}
.infolist_tab li {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	justify-content: center;
	align-items: center;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.infolist_tab .local {
	border-right: 1px solid #D8D9DA;
	color: #F97D03;
}
.infolist_tab .local2 {
	border-left: 1px solid #D8D9DA;
	color: #F97D03;
}
.infolist_tab .remote {
	background: #F2F5F7;
	border-bottom: 1px solid #D8D9DA;
}
.infolist_tab .remote a {
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 100%;
}
/*新版个人中心页面*/
.fl{ float:left;}
.body_div a{  border-radius:0px;}
.c_header{ background-color:#FFF; padding:6px 0px 5px 10px;}
.c_logo{ height:34px; width:110px; display:block;  background:url(../images/logo.png); background-size:110px 34px;}
.c_publish{ background:#FF6C00; width:46px; height:46px; font-size:12px; color:#FFF; text-align: center; position:absolute; top:0px; right:0px;}
.c_publish .ico{ background:url(../images/index_post.png); height:23px; width:23px; background-size:23px auto; display:block; margin:2px auto 2px;}
.c_logn{ margin:14px 10px 16px 10px;  font-size:16px; position:relative; overflow:hidden; }
.u_img{ margin-right:10px;}
.body_div .logn_btn{height:34px; width:64px;line-height:34px; color:#ff6c00;text-align:center;-webkit-border-radius:2px;background: #FFF;-webkit-box-shadow:0px 0px 8px #d8d8da; float:left; margin-left:7px; margin-top:5px; display:block;}
.exit58{ position:absolute; top:18px; right:10px; color:#ff6c00; font-size:14px;}
.c_center{  margin:0px 10px;  overflow:hidden; border:2px solid #e2e3e7;}
.c_center ul{ display:-webkit-box; width:100%;}
.c_center ul li{-webkit-box-flex:1; height:55px; background-color:#FFF; width:100%;}
.c_center .border_m { border-bottom:1px solid #eef1f5;}
.c_center .border_r { border-right:1px solid #eef1f5;}
.c_center ul a{ display:block;  padding:20px 0px 0px 35px; height:35px;position:relative;}
.c_center ul a:before{ content:'';background:url(../images/center.png) no-repeat; background-size:15px auto; height:16px; position:absolute; top:20px; left:10px; width:15px; }
.c_center ul .my_record:before{ background-position:0px -16px;}
.c_center ul .my_bb:before{ background-position:0px -32px;}
.c_center ul .my_back:before{ background-position:0px -48px;}
.c_center ul .my_collect:before{ background-position:0px -62px;}
.c_center ul .my_info:before{ background-position:0px -80px; height:18px;}
.c_center ul .my_del:before{ background-position:0px -100px; height:23px; top:17px;}
.c_center ul .my_del p{ font-size:12px; color:#78818e;}