<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="space">
<match url="^space/([a-z0-9A-Z]+)/$" />
<action type="Rewrite" url="space.php?user={R:1}" />
</rule>
<rule name="store">
<match url="^store-([0-9]+)/$" />
<action type="Rewrite" url="store.php?uid={R:1}" />
</rule>
<rule name="store2">
<match url="^store-([0-9]+)/([^\/]+).html$" />
<action type="Rewrite" url="store.php?uid={R:1}&amp;Uid={R:2}" />
</rule>
<rule name="category">
<match url="^category-([^\/]+).html$" />
<action type="Rewrite" url="category.php?CAtid={R:1}" />
</rule>
<rule name="information">
<match url="^information-id-([0-9]+).html$" />
<action type="Rewrite" url="information.php?id={R:1}" />
</rule>
<rule name="news">
<match url="^news.html$" />
<action type="Rewrite" url="news.php" />
</rule>
<rule name="news2">
<match url="^news-id-([0-9]+).html$" />
<action type="Rewrite" url="news.php?id={R:1}" />
</rule>
<rule name="news3">
<match url="^news-catid-([0-9]+).html$" />
<action type="Rewrite" url="news.php?catid={R:1}" />
</rule>
<rule name="news4">
<match url="^news-catid-([0-9]+)-page-([0-9]+).html$" />
<action type="Rewrite" url="news.php?catid={R:1}&amp;page={R:2}" />
</rule>
<rule name="corporation">
<match url="^corporation.html$" />
<action type="Rewrite" url="corporation.php" />
</rule>
<rule name="corporation2">
<match url="^corporation-([^\/]+).html$" />
<action type="Rewrite" url="corporation.php?Catid={R:1}" />
</rule>
<rule name="sitemap">
<match url="^sitemap.html$" />
<action type="Rewrite" url="about.php?part=sitemap" />
</rule>
<rule name="aboutus">
<match url="^aboutus.html$" />
<action type="Rewrite" url="about.php?part=aboutus" />
</rule>
<rule name="aboutusid">
<match url="^aboutus-id-([0-9]+).html$" />
<action type="Rewrite" url="about.php?part=aboutus&amp;id={R:1}" />
</rule>
<rule name="announce">
<match url="^announce.html$" />
<action type="Rewrite" url="about.php?part=announce" />
</rule>
<rule name="faq">
<match url="^faq.html$" />
<action type="Rewrite" url="about.php?part=faq" />
</rule>
<rule name="faqid">
<match url="^faq-id-([0-9]+).html$" />
<action type="Rewrite" url="about.php?part=faq&amp;id={R:1}" />
</rule>
<rule name="friendlink">
<match url="^friendlink.html$" />
<action type="Rewrite" url="about.php?part=friendlink" />
</rule>
</rules>
</rewrite>
</system.webServer>
</configuration>
