<html>
<style>
body{font-family:Arial,Verdana;}
input.gray{border:1px solid;cursor:pointer;border-color:#fff #848484 #848484 #fff !important;background:#f0f0f0 !important;color:#333 !important}
</style>
<head>
<title><?=$title?></title>
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link href="/template/css/button.css" rel="stylesheet" type="text/css" />
</head>
<body leftmargin='0' topmargin='20px'>
<center>
<div style='border:4px #dff6ff solid;width:450px;'>
<div style='border:1px solid #a6cbe7;'>
<div style='padding:7px 0;font-size:10pt; margin:1px; background:#e0f0f9; border-bottom:1px solid #a6cbe7;'><?=$title?></div>
<div style='font-size:10pt;background-color:#ffffff;height:135px;overflow:auto; padding-bottom:40px'>
<br/>
<br/>