<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>关于我们 - {$mymps_global[SiteName]}</title>
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
	<link type="text/css" rel="stylesheet" href="template/css/about.css">
</head>

<body class="{$mymps_global[cfg_tpl_dir]}">
{template header_search}
<div id="cont">
    <div class="mbox">
    	<h3 class="tit">关于我们</h3>
		<div style="padding: 1rem;line-height: 1.5rem;font-size: 1rem;">
			<<城盛惠民>>是揭阳市大智房产中介服务有限公司自行开发的一款分类信息及生活服务类APP，用户前台使用功能包括：房屋租售、车辆买卖、招聘信息、物业缴费、下单流程、在线支付、在线客服、订单状态查询。管理员后台管理功能包括：站务管理、信息管理、会员管理、系统管理、分类管理、客服管理、权限管理、业务分析与统计。
		</div>
        <!--<ul class="mcontact">
        	<li>
				<i class="ico user"></i>电话：
				<span class="telbox">
					<a href="tel:{$mymps_global[SiteTel]}" class="telbg">{$mymps_global[SiteTel]}<i class="ico tel"></i></a>
				</span>
        	</li>
            <li><i class="ico email"></i>邮箱：{$mymps_global[SiteEmail]}</li>
		</ul>-->
    </div>
</div>
{template footer}