<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>首页广告发布 - {$mymps_global[SiteName]}</title>
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
	<link type="text/css" rel="stylesheet" href="template/css/delete.css">
</head>

<body class="{$mymps_global[cfg_tpl_dir]}">
<div class="body_div">

	{template header_search}	
	
	<div class="dl_nav">
		<span>
			<a href="index.php">首页</a>&gt;<a href="index.php?mod=member">会员中心</a>&gt;<a href="index.php?mod=delete">首页广告发布</a>
		</span>
	</div>
	
    <div class="phone-use">发布广告说明</div>
	

</div>
{template footer2}
</body>
</html>