<div class="help">
<a href="index.php?mod=delete&cityid={$city[cityid]}" rel="nofollow">删除电话被冒用的信息</a>
<a href="index.php?mod=about&cityid={$city[cityid]}" rel="nofollow">联系我们</a>
</div>

<script type="text/javascript">
	/*$(function () {
		$("body").swipe( {
			swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
				var mod = '{$mod}';
				var catid = '{$catid}';
				if (direction == 'left') {
					if(catid == '') {
						window.location.href = 'index.php?mod=category&catid=3&cityid={$city[cityid]}';
					} else if (catid == 3) {
						window.location.href = 'index.php?mod=category&catid=2&cityid={$city[cityid]}';
					} else if (catid == 2) {
						window.location.href = 'index.php?mod=category&catid=4&cityid={$city[cityid]}';
					} else if (catid == 4) {
						window.location.href = 'index.php?mod=property&status=N';
					}
				} else if (direction == 'right') {
					if (mod == 'property' || mod == 'login') {
						window.location.href = 'index.php?mod=category&catid=4&cityid={$city[cityid]}';
					} else {
						if (catid == 4) {
							window.location.href = 'index.php?mod=category&catid=2&cityid={$city[cityid]}';
						} else if (catid == 2) {
							window.location.href = 'index.php?mod=category&catid=3&cityid={$city[cityid]}';
						} else if (catid == 3) {
							window.location.href = 'index.php?mod=index&&cityid={$city[cityid]}';
						}
					}
				}
			},
			allowPageScroll:"auto"
		});
	});*/
</script>
