<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>系统提示 - {$mymps_global[SiteName]}</title>
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
	<link type="text/css" rel="stylesheet" href="template/css/all.css">
</head>

<body class="{$mymps_global[cfg_tpl_dir]}">
<div class="body_div">

	<div class="c_header"  >
		<a class="c_logo" href="index.php?cityid={$cityid}"></a>
	</div> 
	
  	<div class="dl_nav">
		<span><a href="index.php?cityid={$cityid}">首页</a><font class="raquo"></font><a href="javascript:;">系统提示</a></span>
	</div> 
	
	<div class="tishi">