<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>会员中心 - {$mymps_global[SiteName]}</title>
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
	<link type="text/css" rel="stylesheet" href="template/css/member.css">
</head>

<body class="{$mymps_global[cfg_tpl_dir]}">
<div class="body_div">

	{template header_search}

	<div class="c_logn"> 
		<img src="template/images/center_ico.png" width="43" height="43" class="fl u_img">
		{$loginfo}
	</div>
	
	<div class="c_center">
		<ul>
			<li class="border_m border_r">{$loginfomypost}</li>
			<li class="border_m">{$loginfomyshoucang}</li>
		</ul>
		<ul>
			<li class="border_m border_r"><a class="my_record" href="index.php?mod=history">浏览记录</a></li>
			<li class="border_m"><a class="my_del" href="index.php?mod=delete">删除信息</a></li>
		</ul>
		<ul>
			<li class="border_m border_r"><a class="my_back" href="index.php?mod=about">联系我们</a></li>
		</ul>
	</div>
		
{template footer}
</div>
</body>
</html>