<!DOCTYPE html>
<html lang="zh-CN" class="index_page">
<head>
	{template header}
	<title>发布信息 - {$mymps_global[SiteName]}</title>
	<link type="text/css" rel="stylesheet" href="template/css/global.css">
	<link type="text/css" rel="stylesheet" href="template/css/style.css">
	<link type="text/css" rel="stylesheet" href="template/css/post.css">
    <link rel="stylesheet" type="text/css" href="template/js/mobileSelect/css/mobileSelect.css">
    <script src="template/js/mobileSelect/js/mobileSelect.js" type="text/javascript"></script>
    <script src="template/js/jq_min.211.js" type="text/javascript"></script>
    <script type="text/javascript" src="/template/default/js/layer/mobile/layer.js"></script>
<script language="javascript">
function submitForm(){

	if (document.form1.title.value=="") {
		alert('请填写信息标题!');
		document.form1.title.focus();
		return false;
	}
	if (document.form1.endtime.value=="") {
		alert('请选择有效期!');
		document.form1.endtime.focus();
		return false;
	}
	if (document.form1.content.value=="") {
		alert('请填写信息内容!');
		document.form1.content.focus();
		return false;
	}
	if (document.form1.contact_who.value=="") {
		alert('请填写联系人!');
		document.form1.contact_who.focus();
		return false;
	}
	if (document.form1.tel.value=="") {
		alert('请填写联系电话!');
		document.form1.tel.focus();
		return false;
	}
	<!--{if $iflogin == 0}-->
	if (document.form1.manage_pwd.value=="") {
		alert('请填写管理密码!');
		document.form1.manage_pwd.focus();
		return false;
	}
	<!--{/if}-->

    layer.open({
        content: '发布中...',
        type : 2,
        shade: 'background-color: rgba(98,98,98,.8)'
    });
	return true;
}
</script>
</head>
<body class="{$mymps_global[cfg_tpl_dir]}">

<style>
    select{
        display: none;
    }
    .layui-m-layercont p{
        color: black;
    }
</style>
	{template header_search}
    <form id="form1" method="post" enctype="multipart/form-data" action="index.php?mod=post" name="form1"  onSubmit="return submitForm();">
    <input name="areaid" type="hidden" value="{$areaid}">
    <input name="cityid" type="hidden" value="{$cityid}">
    {if empty($child)}<input name="catid" type="hidden" value="{$catid}">{/if}
    <input name="streetid" type="hidden" value="{$streetid}">
    <input name="action" type="hidden" value="post">
    <input type="hidden" value="{$mixcode}" name="mixcode"/>
    <input type="hidden" id="lat" name="lat" value="">
    <input type="hidden" id="lng" name="lng" value="">
        <ul class="list">		
            
            <li class="item">
                <div class="title"><span><font style="color:#FF0000;">* </font>类别：</span></div>
                <div class="inputs">{$catname} &nbsp;&nbsp;&nbsp;<a href="index.php?mod=post&areaid={$catid}&streetid={$streetid}&cityid={$cityid}">(重选)</a></div>
            </li>
            
            <li class="item">
                <div class="title"><span><font style="color:#FF0000;">* </font>地区：</span></div>
                <div class="input">{$areaname} &nbsp;&nbsp;&nbsp;<a href="index.php?mod=post&catid={$catid}&cityid={$cityid}">(重选)</a></div>
            </li>
            
            <li class="item">
                <div class="title"><span><font style="color:#FF0000;">* </font>标题：</span></div>
                <div class="input"><input name="title" type="text" size="26" value="" /></div>
            </li>
            
            <li class="item">
                <div class="title"><span><font style="color:#FF0000;">* </font>有效期：</span></div>
                <div class="inputs">{echo GetInfoLastTime('','endtime','wap')}</div>
            </li>
            
            {loop $show_mod_option $mymps}
            <li class="item">
                <div class="title"><span>{if $mymps[required] == 1}<font style="color:#FF0000;">* </font>{/if}{$mymps[title]}</strong>：</span></div>
                <div class="inputs">{$mymps[value]}</div>
            </li>
            {/loop}
            
            <li class="item">
                <div class="title"><span><font style="color:#FF0000;">* </font>内容：</span></div>
                <div class="input"><textarea name="content" style="width:100%; height:70px;"></textarea></div>
            </li>
            
            <li class="item">
                <div class="title"><span><font style="color:#FF0000;">* </font>联系人：</span></div>
                <div class="input"><input name="contact_who" type="text" size="26" value="{$contact_who}" /></div>
            </li>
            
            <li class="item">
                <div class="title"><span><font style="color:#FF0000;">* </font>联系电话：</span></div>
                <div class="input"><input name="tel" type="text" size="26" value="{$tel}" /></div>
            </li>
            
            <li class="item">
                <div class="title"><span>联系QQ：</span></div>
                <div class="input"><input name="qq" type="text" size="26" value="{$qq}" /></div>
            </li>

			{if $upload_img}
            <li class="item">
                <div class="title"><span>添加照片：</span></div>
                <div class="">{$upload_img}</div>
            </li>
            {/if}

			{if $mobile_settings[authcode] == 1}
            <li class="item">
                <div class="title"><span><font style="color:#FF0000;">* </font>验证码：</span></div>
                <div class="input"><input name="checkcode" type="text" size="26" /><img src="{$mymps_global[SiteUrl]}/{$mymps_global[cfg_authcodefile]}?mod=m" alt="看不清，请点击刷新" width="70" height="25" align="absmiddle" style="cursor:pointer;" onClick="this.src=this.src+'?'"/></div>
            </li>
            {/if}
            
            {if $iflogin == 0}
            <li class="item">
                <div class="title"><span><font style="color:#FF0000;">* </font>管理密码：</span></div>
                <div class="input"><input name="manage_pwd" type="text" size="26" value="{$manage_pwd}" />用于修改/删除该信息&nbsp;</div>
            </li>
            {/if}
        </ul>
        <div class="post"><input type="submit" name="button" id="button" value="点击发布" /></div>
      </form>
	{template footer}

<link rel="stylesheet" href="/template/default/js/layer/skin/default/layer.css">
<script>
    if (navigator.geolocation)
    {
        navigator.geolocation.getCurrentPosition(showPosition);
    }else{

    }

    function showPosition(position)
    {
        document.getElementById("lat").value = position.coords.latitude;
        document.getElementById("lng").value = position.coords.longitude;

    }
    $(function () {
        $('select').each(function (i,v) {
            var option = [];
            $.each($(v).find('option'),function (j,t) {
                var tmp = {
                    'id' : $(t).val(),
                    'value' : $(t).text()
                }
                option.push(tmp);
            });


            var id = 'm_select_'+i;
            var tid = 'm_select_h_'+i;
            var txt = option[0].value;
            var name = $(v).attr('name');
            option.splice(0,1);

            var default_val = '';
            if (name == 'catid') {
                default_val =option[0].id;
            }
            $('<div id='+id+'>'+txt+'</div><input type="hidden" id="'+tid+'" name="'+name+'" value="'+default_val+'">').appendTo($(v).parent());
            $(v).remove();
            new MobileSelect({
                trigger: '#'+id,
                title: txt,
                wheels: [
                    {data:option}
                ],
                callback:function(indexArr, data){
                    $('#'+tid).val(data[0].id);
                }
            });
        });
    });

</script>
</body>
</html>